.top_page 
  .top_container
    %h2 TOPページ


  .section_container
    -# = link_to articles_path do
      .link_inner
        .link_image
          = image_tag 'default-eyecatch.jpg'
        .link_text
          %h3 記事
          %p 災害時・平時にできることを記事にまとめています
          %p 内容一覧へ
       
    
  .section_container
    -# = link_to chats_path do
      .link_inner
        .link_image
          = image_tag 'default-eyecatch.jpg'
        .link_text
          %h3 チャット
          %p 誰かの知恵を借りたい時に使う
          %p コミュニティチャット一覧へ


  .section_container
    -# = link_to informations_path do
      .link_inner
        .link_image
          = image_tag 'default-eyecatch.jpg'
        .link_text
          %h3 研修報告
          %p 研修・講演などの情報共有事項
          %p 内容一覧へ

  .section_container
    -# = link_to lectures_path do
      .link_inner
        .link_image
          = image_tag 'default-eyecatch.jpg'
        .link_text
          %h3 災害時、平時に私たちにできること
          %p 災害発生に備えて取り組むこと
          %p 内容一覧へ




