.chats 
  .chats_container
    .index_container
      %h2 チャット一覧を表示

    .tabs
      = render 'commons/chat_tabs'

    .new_chat_container
      = link_to new_chat_path do
        .chat_new
          %p + 新しいチャットを作成

    .wrap
      - @chats.each do |chat|
        = render 'commons/chat', chat: chat
  
  
  
  = link_to new_chat_path do
    .float_btn
      %i.fa.fa-pencil