.articles 
  .articles_container
    .index_container
      %h2 記事一覧

    .tabs
      = render 'commons/tabs'

    .new_article_container
      = link_to new_article_path do
        .article_new
          %p + 新しい記事を作成

    .wrap
      - @articles.order(created_at: :desc).each do |article|
        = render 'commons/article', article: article
  
  
  
  = link_to new_article_path do
    .float_btn
      %i.fa.fa-pencil