.informations_container h1 {
  margin-left: 20px;
}

.information {
  background-color: white;
  margin: 16px 16px;
  padding: 22px 22px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 10px;
}

.information_image {
  height: 360px;
  position: relative;
  overflow: hidden;
  margin: -22px -22px 16px;
}

.information_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.information p {
  padding-bottom: 0;
  margin-bottom: 5px;
}

.information h2 {
  font-size: 16px;
}

.information_title {
  font-size: 18px;
}

.information_comment {
  padding: 12px 0;
}

.information_detail {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  position: relative;
}

.information_detail img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 16px;
}

.information_detail_actions {
  right: 0px;
  position: absolute;
  top: 0px;
}

.information_detail_img {
  size: 50%;
}

.information_content {
  min-height: 200px;
}

.information_content p {
  white-space: pre-wrap;
}

.card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 90%;
  height: auto;
  margin: 20px auto;
}

.card_title {
  font-size: 22px;
  margin: 10px 10px;
  width: 400px;
  float: left;
  list-style: none;
}

.card_title_p {
  font-size: 10px;
}

.card_heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_heart img {
  width: 20px;
  height: 20px;
}

.card_heart span {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  color: blue;
  line-height: 50px;
}

.card_lecture_detail {
  padding-top: 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
}

.card_lecture_detail img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 8px;
}

.card_content {
  padding: 16px 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card_image {
  height: 180px;
  overflow: hidden;
}

.card_image img {
  width: 100%;
}

.new_information_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information_new {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  margin: 20px 20px;
  padding: 20px;
  height: 80px;
  border-style: dotted;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4999d;
  border-radius: 10px;
}
/*# sourceMappingURL=informations.css.map */