.login_container {
    margin: 20px auto;
    // text-align: center;
    h2 {
      margin: 20px auto;
    //   width: 80%;
    }
    .field {
      margin: 20px auto;
    //   width: 80%;
    }
    .actions {
      margin: 20px auto;
    //   width: 80%;
    }
    &_a {
      margin: 20px auto;
    //   width: 80%;
    }
}

.login-link,
.signup-link,
.forgot-password-link {
  color: rgb(0, 0, 0);
  font-size: 22px;
  border-bottom: 1px solid rgb(0, 0, 0); 
}