@import './variables';

.chat_reply_container {
  border-radius: 10px;
  border: solid;
  width: 180px;
  border-color: rgb(176, 194, 244);
  text-align: center;
  margin: 0 0 0 auto;
  position: relative;
  justify-content: space-between;
  
}

.reply_container {
  width: 80%;
  margin: 30px auto;
}

.reply-text-area {
  width: 80%;
  margin: auto;
}

.chat_reply_heart {
  display: flex;
  justify-content: flex-end; 
  padding-bottom: 0;
  // position: absolute;
}

.chat_heart {
    padding-right: 10px;
    img {
      width: 30px;
      height: 30px;
    }
}



.reply_edit_container {
  width: 90%;
  margin: 20px 8px;
  // margin-top: 50px;
  padding: 8px 8px;
  width: 800px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  resize: vertical;
  border: 1px solid #EBEBEB;
}

.reply-text-area {
  width: 100%;
  margin: 20px auto;
 
}

.btn-secondary {
  width: 80%;
  margin: 20px auto;
  
}

@media screen and (max-width: 500px) {
  .textarea, trix-editor,#reply_content {
      // min-width: 350px;
      width: 90%;
      margin: auto;
      background-color: #f4f5f2;
   }
   .reply_container {
      margin: 0 auto;
      width: 80%;
   }
}
